<!DOCTYPE html>
<html lang="en" ng-app="FPApp">
  <head>
    <meta charset="utf-8">
    <title>Freshly Pressed</title>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
  <!--  <meta http-equiv="Content-Security-Policy" content="default-src *;">-->
    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-controller="FPCtrl">
    <ion-pane>
        <ion-header-bar class="bar-dark">
            <h1 class="title">Freshly Pressed2 ({{blogs.length}})</h1>            
        </ion-header-bar>
        <ion-content>
           <ion-refresher pulling-text="Recargado blogs"  on-refresh="reload()"></ion-refresher>
            <div class="list card" data-ng-repeat="b in blogs">
                <div class="item item-avatar">
                    <img data-ng-src="{{b.avatar_URL}}" alt="">
                    <h2 data-ng-bind-html="b.title"></h2>
                    <p> {{ b.name }} </p>
                </div>
                <div class="item item-body">
                    <img data-ng-if="b.featured_image" data-ng-src="{{ b.featured_image }}" alt="" class="full-image">            
                    <p data-ng-bind-html="b.excerpt"></p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                   <a class="tab-item" data-ng-click="show($index)">
                       <i class="icon ion-ios-book"></i>
                       Read
                   </a>
                    <a class="tab-item" data-ng-click="share($index)">
                        <i class="icon ion-share"></i>
                        Share
                    </a>
                </div>
            </div>
            <ion-infinite-scroll on-infinite="loadMore()" ng-if="deviceReady">  
            </ion-infinite-scroll>
        </ion-content>
    </ion-pane>
  </body>
</html>
